<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} <!-- base.html 불러오기 -->

{% block contents %} <!-- contents 지정하기-->
<body>
    <br>
    <div class="container">
        {% comment %} <form action="{% url 'create' %}">
            <h4>제목: </h4>
            <input type="text" name="title">
            <br>
            <br>
            <h4>본문: </h4>
            <textarea name="body" id="" cols="40" rows="10"></textarea>
            <br>
            <br>
            <input class = "btn btn-dark" type="submit" value="제출하기">
        </form> {% endcomment %}
        <form method = "POST">
        {%csrf_token%}
        <table>
            {{form.as_table}}
        </table>
        <br>
            <input type="submit" class = "btn btn-dark" value = "제출하기">
        </form>
    </div>

    <!--css -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}
</html>